<div class="row" id="<%= @user.id %>">
    <div class="col s3">
        <img src="https://materializecss.com/images/yuna.jpg" alt="" class="circle responsive-img">
    </div>
    <div class="col s9">
        <span class="black-text">
            <%= @user.email %>
        </span>
        <a class="btn-floating right btn-small waves-effect waves-light blue">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>
